// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Synaptics Incorporated
 *
 * Author: Jisheng Zhang <jszhang@kernel.org>
 */


/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "sl261x.dtsi"

/ {
	model = "Synaptics SL2619 PEK";
	compatible = "syna,sl2619-pek", "syna,sl2619";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x01000000 0x0 0xdf000000>,
		      <0x1 0xe0000000 0x0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		vdev0vring0: vdev0vring0@7f00000 {
			compatible = "shared-dma-pool";
			reg = <0 0x7f00000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@7f08000 {
			compatible = "shared-dma-pool";
			reg = <0 0x7f08000 0 0x8000>;
			no-map;
		};

		vdevbuffer: vdevbuffer {
			compatible = "shared-dma-pool";
			reg = <0 0x7f10000 0 0xf0000>;
			no-map;
		};
	};

	rpmsg {
		compatible = "syna,rpmsg";
		mbox-names = "rpmsg";
		mboxes = <&ipc 0>;
		syna,vdev-nums = <1>;
		reg = <0x0 0x7f00000 0x0 0x10000>;
		memory-region = <&vdevbuffer>;
	};
};

&ipc {
	status = "okay";
};

&pdma0 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
	sdclkdl-dc = /bits/ 8 <20>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
};

&uart0 {
	status = "okay";
};
