// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Synaptics Incorporated
 *
 * Author: Jisheng Zhang <jszhang@kernel.org>
 */


/dts-v1/;

/memreserve/ 0x7f000000 0x01000000;

#include <dt-bindings/gpio/gpio.h>

#include "sl261x.dtsi"

/ {
	model = "Synaptics SL2619 PEK";
	compatible = "syna,sl2619-pek", "syna,sl2619";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x01000000 0x0 0xdf000000>,
		      <0x1 0xe0000000 0x0 0x20000000>;
	};
};

&pdma0 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
	sdclkdl-dc = /bits/ 8 <20>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
};

&uart0 {
	status = "okay";
};
