// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Synaptics Incorporated
 *
 * Author: Jisheng Zhang <jszhang@kernel.org>
 */

/dts-v1/;

#include "sl2619.dtsi"
#include "sl261x-rdk-common.dtsi"

/ {
	model = "Synaptics SL2619 RDK";
	compatible = "syna,sl2619-rdk", "syna,sl2619";

	mdio-demux {
		compatible = "mdio-demux";
		mux-controls = <&mux1 0>;
		mdio-parent-bus = <&mdio1>;
		#address-cells = <1>;
		#size-cells = <0>;

		mdio@1 {
			reg = <0x1>;
			#address-cells = <1>;
			#size-cells = <0>;

			ethernet_phy0: ethernet-phy@2 {
				compatible = "ethernet-phy-id001c.c916";
				reg = <2>;
				pinctrl-0 = <&eth1_phy_rst_pmux>;
				pinctrl-names = "default";
				realtek,clkout-disable;
				reset-assert-us = <20000>;
				reset-deassert-us = <100000>;
				reset-gpios = <&portf 3 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};

&pinctrl {
	eth_mdio_pmux: eth-mdio-pmux {
		groups = "GPIO31", "GPIO32";
		function = "rgmii";
		drive-strength = <7>;
	};

	eth1_pmux: eth1-pmux {
		groups = "GPIO48", "GPIO49", "GPIO50", "GPIO51", "GPIO52", "GPIO53", "GPIO54", "GPIO55", "GPIO56", "GPIO57", "GPIO58", "GPIO59";
		function = "rgmii2";
		drive-strength = <7>;
	};
};

&mux1 {
	status = "okay";
};

&ethernet1 {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pmux>, <&eth1_pmux>;
	pinctrl-names = "default";
	phy-handle = <&ethernet_phy0>;
	phy-mode = "rgmii-id";

	mdio1: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&gpu {
	status = "okay";
};

&smmu {
	status = "okay";
};

&synpu {
	status = "okay";
};
