// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019-2020 Matheus Castello
 */

/dts-v1/;

#include "owl-s500-labrador-v2.dtsi"

/ {
	compatible = "caninos,labrador-bb-m", "caninos,labrador", "actions,s500";
	model = "Caninos Labrador Base Board M v1.0";

	aliases {
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial3:115200n8";
	};
};

&uart3 {
	status = "okay";
};
